<footer>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none border-t border-secondary-blue">
      <div class="flex items-center justify-center md:justify-between py-8">
        <a aria-label="Home" href="/" class="max-w-[40%] sm:max-w-full">
          <img src="../../img/logo.svg" alt="logo" />
        </a>
      </div>
    </div>
  </div>
</footer>
